---
title: false
styles: true
---
$backgroundColour: #ffffff !default;
$linkColour: #ce6e00 !default;
$hoverColour: #000000 !default;
$headingColour: #70b1ff !default;
$headingtype: (
  font-family: '"Manrope", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

// Typography
$bodytype: (
  font-family: "Manrope, serif",
  regular: 400,
  bold: 400,
  italic: italic,
  cap-height: 0.75
) !default;

.footer {
    background-color: grey !important; 
}

.events {
  p {
    padding-left: 5px;
    margin-bottom: .25em !important;
  }
}
.events-container {
  display: inline;
  float:left; 
  width: 25%; 
  font-size: .75em; 
  border: solid black 1px;
}

.body-container {
  display:inline;
  float:right;
  width:75%;
  padding-left:10px;
}

.article {
  width: 100% !important;
}

.padding
{
padding: 25px 25px 25px 25px;
}

// Font import, if you're using a non-standard web font
@import url("https://fonts.googleapis.com/css?family=Manrope:400,700");

@import "alembic";