---
title: false
styles: true
---
$backgroundColour: #ffffff !default;
$linkColour: #ce6e00 !default;
$hoverColour: #000000 !default;
$headingColour: #70b1ff !default;
$headingtype: (
  font-family: '"Manrope", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

// Typography
$bodytype: (
  font-family: "Manrope, serif",
  regular: 400,
  bold: 400,
  italic: italic,
  cap-height: 0.75
) !default;

.footer {
    background-color: grey !important; 
}

.events {
  p {
    padding-left: 5px;
    margin-bottom: .25em !important;
  }
}

.events-container {
  min-height: 500px;
  order: 2;
  flex-grow: 1;
  max-width: 30%;
}

.body-container {
  padding-right:15px;
  order:1;
  flex-grow:4; 
  max-width: 70%;
 
}

.flex-container {
  display:flex;
  flex-direction: row;
  width: 100% !important;
  flex-wrap: wrap;
}

.article {
  width: 100% !important; 
}

.padding
{
padding: 25px 25px 25px 25px;
}

.logo:before {
  content: "Cumberland Valley Collective.";
}
.logo {
  img {
    display: none;
  }
}


.calendar-small {
  // position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.calendar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.calendar-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 80%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/*THIS BELOW IS ADDED BY DECIMEAT FOR OVERLAY*/
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.overlaycontainer {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.overlaycontainer:hover .overlay {
  opacity: 1;
}
// Font import, if you're using a non-standard web font
@import url("https://fonts.googleapis.com/css?family=Manrope:400,700");

@import "alembic";

/*
  The grid itself needs only 4 CSS declarations:
*/

.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.myGallery img {
  width: 100%;
}

/*
  And here are some declarations for the image caption.
  Just hover over one of the last 5 images to see it.
*/

.myGallery .item {
  position: relative;
  overflow: hidden;
}

.myGallery .item img {
  vertical-align: middle;
}

.myGallery .caption {
  margin: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  text-align: center;
}

.myGallery .item:hover .caption {
  transform: translateY(0%);
}
